{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": ["eslint:recommended"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always", { "omitLastInOneLineBlock": false }],
    "quotes": ["error", "double"],
    "max-len": [
      "error",
      {
        "code": 10000000,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "array-element-newline": ["error", { "multiline": true, "minItems": 3 }],

    "array-bracket-newline": ["error", { "multiline": true, "minItems": 3 }],
    "array-bracket-spacing": ["error", "always"],
    "object-curly-newline": ["error", { "consistent": true, "multiline": true, "minProperties": 3 }]
  }
}
